.k-label {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #71717a;
    margin-left: 4px;
    display: inline-block;
}

.dark .k-label {
    color: #a1a1aa;
}